.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
	color: #fff;
	background: transparent;
	width: 100%;
}

.logo {
	max-width: 90px;
	padding: 10px;
}

.navbar-toggle {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
}

.navbar-toggle:focus {
	outline: none;
}

.navbar-toggle-icon {
	width: 50px;
	height: 40px;
	display: block;
	border: none;
	padding: 0;
	background: none;
}

.navbar-menu {
	position: fixed;
	top: 0;
	right: -100%;
	height: auto;
	width: 300px;
	background-color: rgb(36, 18, 54);
	color: #fff;
	padding: 70px 0px 30px;
	transition: right 0.3s ease-in-out;
	border-radius: 0px 0px 0px 50px;
}

.navbar-menu.is-open {
	right: 0;
}

.navbar-menu-items {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
}

.navbar-menu-item {
	padding: 20px;
	font-size: 15px;
	font-weight: 700;
}

.navbar-menu-item:hover {
	background-color: white;
	color: rgb(36, 18, 54);
	border-radius: 10px;
}

.navbar-close {
	position: absolute;
	top: 40px;
	right: 20px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}

@media screen and (min-width: 601px) {
	.navbar {
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.navbar-menu {
		position: static;
		background-color: transparent;
		padding: 0px;
	}

	.navbar-menu-items {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.navbar-menu-item {
		padding: 10px 7px;
	}

	.navbar-toggle {
		display: none;
	}

	.navbar-close {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.navbar-menu-item {
		padding: 10px 20px;
	}
}
