.planet-specs {
	padding: 30px;
}

.planet-spec {
	border: 1px solid #6abcff;
	padding: 20px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.planet-spec-name {
	font-size: 0.7rem;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}

.planet-spec-value {
	font-weight: 700;
}

@media screen and (min-width: 768px) {
	.planet-specs {
		display: flex;
		justify-content: center;
	}

	.planet-spec {
		flex-direction: column;
		margin: 0px 10px 20px;
		width: 100%;
		max-width: 160px;
	}

	.planet-spec-name {
		padding: 10px 0px;
	}
}
