.planet-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 80px 0px;
}

.planet-card-image {
	width: 100%;
	max-width: 200px;
}

.planet-card-geology-image {
	width: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.planet-card-info {
	padding: 0px 30px;
	max-width: 400px;
}

.planet-card-name {
	font-size: 30px;
	font-weight: 700;
	margin: 0px 0px 20px;
}

.planet-card-description {
	font-size: 14px;
}

.planet-card-link-container {
	padding: 20px 0px;
}

.planet-card-link {
	font-size: 14px;
	font-weight: 700;
	color: #2f5488;
	text-decoration: underline;
}

.planet-card-link:hover {
	color: #6abcff;
}

@media screen and (min-width: 768px) {
	.planet-card {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		padding: 0px 40px;
		max-width: 800px;
	}

	.planet-image-container {
		flex-basis: 100%;
		order: 0;
	}

	.planet-card-image {
		max-width: 300px;
	}

	.planet-card-info {
		flex-basis: 50%;
		order: 1;
	}

	.planet-modes-container {
		flex-basis: 50%;
		order: 1;
	}

	.planet-specs-container {
		flex-basis: 100%;
		order: 2;
	}
}
