.planet-card {
	height: auto;
}

.planet-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 80px 0px;
}

.planet-card-image {
	width: 140px;
}

.planet-card-geology-image {
	width: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.planet-card-info {
	text-align: center;
	padding: 0px 30px;
}

.planet-card-name {
	font-size: 30px;
	font-weight: 700;
	margin: 0px 0px 20px;
}

.planet-card-description {
	font-size: 14px;
}

.planet-card-link-container {
	padding: 20px 0px;
}

.planet-card-link {
	font-size: 14px;
	font-weight: 700;
	color: #2f5488;
	text-decoration: underline;
}

.planet-card-link:hover {
	color: #6abcff;
}