.planet-modes {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 20px;
	border-top: 1px solid #6abcff;
	border-bottom: 1px solid #6abcff;
}

.planet-mode {
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.planet-modes {
		flex-direction: column;
		border: none;
	}

	.planet-mode {
		border: 1px solid #6abcff;
		width: 100%;
		max-width: 300px;
		margin-bottom: 20px;
		padding: 1em;
	}

	#overview::before {
		content: "01 ";
	}
	
	#internal::before {
		content: "02 ";
	}

	#internal::after {
		content: " Structure";
	}

	#geology::before {
		content: "03 Surface ";
	}
}

@media screen and (min-width: 1024px) {
	.planet-modes {
		flex-direction: row;
		border: none;
	}

	.planet-mode {
		border: 1px solid #6abcff;
		width: 100%;
		max-width: 300px;
		margin: 0px 25px;
		min-height: 100px;
		min-width: 300px;
		text-align: center;
		padding-top: 2.3em;
	}
}